// +-------------------------------+
// |       Table of contents       |
// >-------------------------------<
// |  1. General section           |
// |  2. Mixin, class etc.         |
// |  3. Navbar                    |
// |  4. Cards                     |
// |  5. About me card             |
// |  x. Scrollbar                 |
// >-------------------------------<

// +------
// |  1. General Section
// +------------
* {
    border: 0;
    color: darkgray;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 !important;
}

body {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

strong {
    color: #4286f4;
}



// +------
// |  2. Mixin, class etc.
// +------------
.img-icon {
    filter: invert(78%) sepia(1%) saturate(0%) hue-rotate(335deg) brightness(88%) contrast(86%);
    height: 30px;
    width: 30px;
    transition: 0.5s;
}

.icon:hover {
    cursor: pointer;

    span {
        &.tooltip {
            opacity: 1;
            z-index: 1;
            left: 60px;
            transition: 0.5s;
        }
    }

    a {
        img {
            filter: invert(63%) sepia(58%) saturate(6323%) hue-rotate(200deg) brightness(100%) contrast(92%);
            transition: 0.5s;
        }
    }
}

.tooltip {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0px;
    min-width: 50px;
    padding: 0 10px !important;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    background: #1f1f1f;
    border-radius: 0px 3.2px 3.2px 0px;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
    transition: 0.5s;

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 12.5px;
        border-style: solid;
        border-color: transparent #1f1f1f transparent transparent;
        left: -25px;
        transition: 0.8s;
    }
}

.card {
    height: 100vh;
    position: absolute;
}

.text {
    background: linear-gradient(135deg, #080808 0, #585858 100%);
    overflow-y: scroll;
    width: 50%;
}

.photo {
    right: 0;
    width: 50%;
}

.photo {

    img {
        width: 100%;
        height: 100%;
    }
}

// +------
// |  3. Navbar
// +------------
#page {
    header {
        background: #1f1f1f;
        position: fixed;
        left: 0;
        height: 100vh;
        width: 50px;
        text-align: center;
        z-index: 10000;

        nav {
            height: 100%;
            width: 100%;
            position: relative;

            #up-side-menu {

                div {
                    &#logo {
                        cursor: default;
                        background-image: linear-gradient(to bottom right, #373b44, #4286f4);
                        height: 58px;
                        line-height: 58px;

                        span {
                            font-size: 28px;
                        }
                    }

                    &.icon {
                        padding-top: 15px !important;
    
                        a {
                            position: relative;
                        }
                    }
                }
            }

            #down-side-menu {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;

                div {
                    padding-bottom: 15px !important;
                }
            }
        }
    }

    // +------
    // |  4. Cards
    // +------------

    #cards-container {
        .cards {
            display: grid;
            grid-template-columns: 50% auto;
            margin-left: 50px;
            position: relative;
            z-index: -1;

            .card-title {
                background: linear-gradient(rgba(152,152,152, 0.25), rgba(152,152,152, 0));
                -webkit-background-clip: text;
                font-family: 'Roboto';
                font-size: 110px;
                text-align: center;
                margin-left: 10px;
                margin-top: 30px;
                -webkit-text-fill-color: transparent;
            }
        }

        // +------
        // |  5. About me card
        // +------------
        #about {
            .paragraph {
                font-size: 22px;
                font-weight: 300;
                line-height: 1.5;
                margin-top: -50px;
                text-align: center;
            }
        }
        
}
}

// +------
// |  X. Scrollbar
// +------------
::-webkit-scrollbar {
    width: 15px;
}
   
::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 7px;
    box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}